.nav a {
  color: #362362;
  font-size: 12px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  padding: 14px 10px;
  /*text-transform: uppercase;*/
}

.nav .container li{
  display: inline;
  padding: 8px;
  border: 2px dashed #88A2FF;
}

.jumbotron {
  background-image:url('http://i.imgur.com/3sB2KpI.jpg');
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 1024px;
}

.jumbotron h1 {
  color: #88A2FF;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #362362;
}

.jumbotron p {
  color: #88A2FF;
  font-size: 20px;
  font-family: 'Shift', sans-serif;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #362362;
}

.learn-more a {
    color: #3F1499;
}

.learn-more .container {
  border: 2px dashed #88A2FF;   
}

.learn-more {
  background-color: #F7DFC6;
}

body{
  background-color: #FFF1D9;
}

/*
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift-bold.woff") format("woff");
}
*/


